:root {
  --main-white: #f0f0f0;
  --main-gray: #303841;
  --main-navy: rgba(0, 0, 128, 0.7);
  --main-navy-light: rgba(0, 0, 128, 0.5);
  --secondary-white: rgba(221, 221, 221, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-navy-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

svg {
  background-color: var(--main-white);
  box-shadow: 2.5rem 2.5rem 1.25rem 0rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

#title {
  font-size: 1.8rem;
  fill: var(--main-gray);
}

.dot:hover {
  fill: var(--secondary-white);
}

g {
  color: var(--main-gray);
}

#tooltip {
  visibility: hidden;
  width: calc(7rem + 2vmin);
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--main-white);
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}
